<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Crack of The Bat!</title>
</head>
<body>
    <div class="container-fluid container_main">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_margin_bottom">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Crack of The Bat!</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/coach/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team/view/{{player.team_id}}">Team View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                    <span class="navbar-text me-2">Hello {{coach.first_name}}</span>
                    {% if coach.image_path != None %}
                        <img class="profile_image" src="{{coach.image_path}}" alt="profile image">
                    {% else %}
                        <div class="avatar"></div>   
                    {% endif %}
                </div>  
            </div>
        </nav>
        <div class="row d-flex justify-content-center">
            <div class="col-2 bg-dark text-light m-4 p-4">
                <h3>Edit Player Stats</h3>
                <h5>Add stats from last game to calculate averages</h5>
                <form action="/player/update/stats" method="post">
                    <input type="hidden" name="team_id" value="{{player.team_id}}">
                    <input type="hidden" name="player_id" value="{{player.id}}">
                    <input type="hidden" name="position" value="{{player.position}}">
                    <input type="hidden" name="previous_hits" value="{{player.hits}}">
                    <input type="hidden" name="previous_at_bats" value="{{player.at_bats}}">
                    <input type="hidden" name="previous_walks" value="{{player.walks}}">
                    <input type="hidden" name="previous_hit_by_pitch" value="{{player.hit_by_pitch}}">
                    <input type="hidden" name="previous_sacrifice_flies" value="{{player.sacrifice_flies}}">
                    <input type="hidden" name="previous_total_innings" value="{{player.total_innings}}">
                    <input type="hidden" name="previous_total_bases" value="{{player.total_bases}}">
                    <input type="hidden" name="previous_earned_runs" value="{{player.earned_runs}}">
                    <input type="hidden" name="previous_innings_pitched" value="{{player.innings_pitched}}">
                    <label for="hits">Hits:</label>
                    <input type="number" min="0" class="form-control" name="hits">
                    <label for="at_bats">At Bats:</label>
                    <input type="number" min="1" class="form-control" name="at_bats">
                    <label for="walks">Walks:</label>
                    <input type="number" min="0" class="form-control" name="walks">
                    <label for="hit_by_pitch">Hit By Pitch:</label>
                    <input type="number" min="0" class="form-control" name="hit_by_pitch">
                    <label for="sacrifice_flies">Sacrifice Flies:</label>
                    <input type="number" min="0" class="form-control" name="sacrifice_flies">
                    <label for="total_bases">Total Bases:</label>
                    <input type="number" min="0" class="form-control" name="total_bases">
                    {% if player.position == "P" %}
                        <label for="total_innings">Total Innings:</label>
                        <input type="number" min="0" class="form-control" name="total_innings">
                        <label for="earned_runs">Earned Runs:</label>
                        <input type="number" min="0" class="form-control" name="earned_runs">
                        <label for="innings_pitched">Innings Pitched:</label>
                        <input type="number" min="0" class="form-control"  step="0.01" name="innings_pitched">
                    {% endif %}
                    <br>
                    <input type="submit" class="btn btn-primary" value="Update">
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="col-2 bg-dark text-light m-4 p-4" id="flash_div_50h">
                        {% for message in messages %}
                            <p class="text-center">{{message}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>  