.container_main {
    /* height: 1080px;
    background-image: url('/static/images/little_league_field_1920x1080_ps_final_2.png'); */
    padding: 0px;
}

.dark_mode {
    background-color: #333;
    color: #fff;
}

.dark_mode_profile_img_border {
    border: 2px solid #fff !important;
}

@media screen and (min-width: 992px) {
    .container_main {
        height: 1080px;
        background-image: url('/static/images/little_league_field_1920x1080_ps_final_2.png');
        padding: 0px;
    }
}

.mobile_hide {
    display: none;
}

@media screen and (min-width: 992px) {
    .mobile_hide {
        display: block;
    }
}

.mobile_hide_table {
    display: none;
}

@media screen and (min-width: 992px) {
    .mobile_hide_table {
        display: table;
    }
}

@media screen and (min-width: 992px) {
    .desktop_hide {
        display: none;
    }
}

.profile_div {
        display: block; 
        width: 85px; 
        height: 85px; 
        border-radius: 50px; 
        background-image: url('/static/images/user_circle_85px.png')
    }

@media screen and (min-width: 992px) {
    .profile_div {
        display: block; 
        width: 30px; 
        height: 30px; 
        border-radius: 50px; 
        background-image: url('/static/images/user_circle_30px.png')
    }
}

.profile_image {
        height: 85px; 
        width: 85px; 
        object-fit: cover;
        border-radius:50px;
        border: 2px solid black;
    }

@media screen and (min-width: 992px) {
    .profile_image {
        height: 30px; 
        width: 30px; 
        object-fit: cover;
        border-radius:50px;
    }
}

.player_margin_bottom {
    margin-bottom: 25px;
}

.player_info_padding {
    padding: 8px 3px 8px 3px;
}

.stat_metric {
    text-align: center;
    padding-top: 0px;
}

@media screen and (min-width: 992px) {
    #flash_div_50h {
        height: 50%;
    }
}

@media screen and (min-width: 992px) {
    .welcome_margin_top {
        margin-top: 127px;
    }
}

.header_margin {
    margin-top: 56px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
    .header_margin {
        margin-bottom: 4px;
        padding-left: 8px;
    }
}

.header_margin_temp {
    margin-bottom: 4px;
    padding-left: 8px;
}

@media screen and (min-width: 992px) {
    #coach_table_fname_margin {
        padding-left: 12px;
    }
}

@media screen and (min-width: 992px) {
    .nav_margin_bottom {
        margin-bottom: 26.39px;
    }
}

@media screen and (min-width: 992px) {
    #player_profile_pic_padding {
        padding-left: 12px;
    }
}

@media screen and (min-width: 992px) {
    #delete_warning_margin_bottom {
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 992px) {
    #home_welcome_padding_top {
        padding-top: 104px;
    }
}

@media screen and (min-width: 992px) {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (min-width: 992px) {
    input[type=number] {
        -moz-appearance: textfield;
    }
}