/* .dark_mode {
    background-color: #333;
    color: #fff;
}

.dark_mode_border {
    border: 2px solid #fff !important;
} */


.container_main {
    /* height: 1080px;
    background-image: url('/static/images/little_league_field_1920x1080_ps_final_2.png'); */
    padding: 0px;
}

@media screen and (min-width: 992px) {
    .container_main {
        height: 1080px;
        background-image: url('/static/images/little_league_field_1920x1080_ps_final_2.png');
        padding: 0px;
    }
}

.mobile_hide {
    display: none;
}

@media screen and (min-width: 992px) {
    .mobile_hide {
        display: block;
    }
}

.mobile_hide_table {
    display: none;
}

@media screen and (min-width: 992px) {
    .mobile_hide_table {
        display: table;
    }
}

@media screen and (min-width: 992px) {
    .desktop-hide {
        display: none !important;
    }
}

.form {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

.coach_div_padding {
    padding-top: 18px;
}

.profile_div {
        display: block; 
        width: 85px; 
        height: 85px; 
        border-radius: 50px; 
        background-image: url('/static/images/user_circle_85px.png')
    }

@media screen and (min-width: 992px) {
    .profile_div {
        display: block; 
        width: 30px; 
        height: 30px; 
        border-radius: 50px; 
        background-image: url('/static/images/user_circle_30px.png')
    }
}

.profile_image {
        height: 85px; 
        width: 85px; 
        object-fit: cover;
        border-radius:50px;
        border: 2px solid black;
    }

/* @media screen and (min-width: 992px) {
    .profile_image {
        height: 30px; 
        width: 30px; 
        object-fit: cover;
        border-radius:50px;
    }
} */

.profile_image_temp {
        height: 30px; 
        width: 30px; 
        object-fit: cover;
        border-radius:50px;
    }

.message_below_avatar {
    padding-top: 8px;
}

.header {
    margin-top: 56px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.player_margin_bottom {
    margin-bottom: 25px;
}

.details {
    padding: 4px 3px 0px 3px;
}

.stat {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 2px;
}

.edit_button_metric {
    padding: 1px 12px 0px 12px;
}

.player_div_padding {
    padding: 0px 12px 30px 12px;
}

.dropdown_arrow::after {
    content: none;
}

@media screen and (min-width: 992px) {
    #flash_div_50h {
        height: 50%;
    }
}

@media screen and (min-width: 992px) {
    .welcome_margin_top {
        margin-top: 127px;
    }
}

.header_metric {
    margin-top: 56px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.team_margin_bottom {
    margin-bottom: 10px;
}

.team_metric {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

/* .your_teams_metric {
    margin-top: 12px;
    margin-bottom: 0px;
} */

.link_metric {
    color: black;
    text-decoration: none;
}

.link_visited a:visited  {
    color: black;
}

/* @media screen and (min-width: 992px) {
    .header_margin {
        margin-bottom: 4px;
        padding-left: 8px;
    }
} */

.header_margin_temp {
    margin-bottom: 4px;
    padding-left: 8px;
}

@media screen and (min-width: 992px) {
    #coach_table_fname_margin {
        padding-left: 12px;
    }
}

@media screen and (min-width: 992px) {
    .nav_margin_bottom {
        margin-bottom: 26.39px;
    }
}

@media screen and (min-width: 992px) {
    #player_profile_pic_padding {
        padding-left: 12px;
    }
}

@media screen and (min-width: 992px) {
    #delete_warning_margin_bottom {
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 992px) {
    #home_welcome_padding_top {
        padding-top: 104px;
    }
}

@media screen and (min-width: 992px) {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (min-width: 992px) {
    input[type=number] {
        -moz-appearance: textfield;
    }
}